Package: flash-kernel-installer
Source: flash-kernel
Version: 2.28ubuntu43
Architecture: armhf
Subarchitecture: armadaxp dove imx51 iop32x ixp4xx kirkwood orion5x omap omap4
Installer-Menu-Item: 7300
Maintainer: Ubuntu Installer Team <ubuntu-installer@lists.ubuntu.com>
Installed-Size: 46
Depends: cdebconf-udeb, installed-base, di-utils (>= 1.68)
Provides: bootable-system
Section: debian-installer
Priority: standard
Description: Make the system bootable
Original-Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
